{% extends 'base.html.twig' %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Abdo en acier', 7) }}

{% endblock %}

{% block title %}New Atelier{% endblock %}

{% block body %}
    <h1>Create new Atelier</h1>

    {{ include('atelier/_form.html.twig') }}

    <a href="{{ path('atelier_index') }}">back to list</a>
{% endblock %}
