{% extends 'base.html.twig' %}

{% block title %}New Activitesequencetheorique{% endblock %}

{% block body %}
    <h1>Create new Activitesequencetheorique</h1>

    {{ include('activitesequencetheorique/_form.html.twig') }}

    <a href="{{ path('activitesequencetheorique_index') }}">back to list</a>
{% endblock %}
