{% extends 'base.html.twig' %}

{% block title %}Edit Sequencetheorique{% endblock %}
{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Abdo en acier', 9) }}

{% endblock %}
{% block body %}
    <h1>Edit Sequencetheorique</h1>

    {{ include('sequencetheorique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sequencetheorique_index') }}">back to list</a>

    {{ include('sequencetheorique/_delete_form.html.twig') }}
{% endblock %}
