{% extends 'base.html.twig' %}

{% block title %}New Sequencetheorique{% endblock %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Abdo en acier', 9) }}

{% endblock %}

{% block body %}
    <h1>Create new Sequencetheorique</h1>

    {{ include('sequencetheorique/_form.html.twig') }}

    <a href="{{ path('sequencetheorique_index') }}">back to list</a>
{% endblock %}
