{% extends 'base.html.twig' %}

{% block title %}Abdo en acier{% endblock %}
 {% block menu %}
     {% import 'macro/macroMenu.html.twig' as macroMenu %}
     {{ macroMenu.menu('Abdo en acier', 5) }}

 {% endblock %}

{% block body %}
    <H1>Bienvenue !</H1> <br>
    Personne actuellement connectée : {{ app.user.nomUtilisateur }} {{ app.user.prenomUtilisateur }}
{% endblock %}
